<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Formaviva Space</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">
  <div id="app" class="container mx-auto">
    <div>
      <h2>Playing: {{track.data.attributes.display_name}}</h2>
      <span>Time left: {{}}</span>
    </div>

    <!-- login -->
    <div class="w-full max-w-xs mx-auto" v-show="!userLoggedIn">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="userName" id="username" type="text" placeholder="Username">
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @click="login(userName)" type="button">
            Sign In
          </button>
        </div>
      </form>
    </div>

    <!-- chat elements -->
    <div class="" v-show="userLoggedIn">

      <!-- users online -->
      <div class="mx-auto mt-10 mb-10">
        <h3>x users online</h3>
        <ul>
          <li v-for="user in userList" class="bg-blue-400 text-white p-2 rounded-2xl inline-block">{{user}}</li>
        </ul>
      </div>

      <!-- chat hist -->
      <ul class="mx-auto space-y-5 grid grid-cols-1">

        <li v-for="data in messagesHist" class="text-white">
          <span class="bg-blue-400 p-2 rounded-2xl">{{data.userName}}</span>
          <span class="bg-gray-800 p-2 rounded-2xl">{{data.message}}</span>
        </li>

      </ul>

      <!-- form -->
      <div class="mx-auto mt-10">
        <form v-on:submit.prevent="sendMessage(message)">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" v-model="message" name="message" placeholder="Type your message..." />
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" @click="sendMessage(message)">Send</button>
        </form>
      </div>

    </div>

  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/vue/dist/vue.js"></script>
  <script src="./app.js"></script>
</body>
</html>